<% 
# ********************************* #
# 	1. Affiche et détail du film
#
# ********************************* #
%>

<center>
	<div>
		<h1><%= @movie.title %></h1>

		<% # Genres
		if !@movie.genres.empty? %>
			<p>
				<% # On compte le nombre de genre
				nb_genre = @movie.genres.length %>

				<strong>Genre<% if nb_genre > 1 %>s<%end %> : </strong>
				
				<% # On initialise un compteur pour séparer les enregistrements par des ","
				init_count = 0

				@movie.genres.each do |genre|
					if genre
						init_count += 1

						if init_count != nb_genre
							separator = ", "
						else
							separator = "."
						end %>

						<%= # On affiche le genre avec le séparateur "," ou "."
						genre['name']+separator %>
					<% end
				end %>
			</p>
		<% end %>

		<%= # Image 
			image_tag("#{@configuration.base_url}w154#{@movie.poster_path}") if @movie.poster_path
		%>

		<% # Date de sortie
		if @movie.release_date %>
			<p>
				<strong>Release date : </strong>
				<%= @movie.release_date.to_date.strftime("%d/%m/%Y") %>
			</p>
		<% end %>


		<% # Description
		if @movie.overview %>
			<p>
				<strong>Overview : </strong>
				<%= @movie.overview %>
			</p>
		<% end %>

		<% # Bande annonce
		if !@trailers['youtube'].empty? %>
			<strong>Watch trailer : </strong><br /><br />
			<% @trailers['youtube'].each do |trailer| %>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= trailer['source'] %>" frameborder="0" allowfullscreen></iframe>
			<% end %>
		<% end %>

		<% # Si l'utilisateur est connecté on propose les liens "À voir" et "Vu" %>
		<% if user_signed_in? %>
			<td>
			<!-- A voir -->
			<%= link_to "À voir", {:controller => "movies_users", :action => "add_watch",:user_id => current_user.id, :movie_id => @movie.id, :etat => 2 } %>

			<!-- Vu -->
			<%= link_to "Vu", {:controller => "movies_users", :action => "add_watch",:user_id => current_user.id, :movie_id => @movie.id, :etat => 1 } %>
			</td>
		<% end %>
	</div>
</center>