<% 
# ***************************** #
# 	1. Zone de Recherche 
#
# ***************************** #
%>
<center>
	<div>
		<h1>Search for a movie</h1>

		<%= form_tag("/search", :method => "get") do %>
  			<%= text_field_tag(:query, nil, :class => "input-xlarge searchInput") %>
		<% end %>
	</div>
</center>


<% 
# ***************************** #
# 	2. Films récents (15)
#
# ***************************** #
%>
<h2>Recents movies</h2>

<% # On boucle sur les 15 premiers films %>
<% @movies.first(15).each do |movie| %>

	<% if movie %>
		<%= link_to movie_path(movie['id']) do %>
			<%= image_tag("#{@configuration.base_url}w154#{movie['poster_path']}") if movie['poster_path'] %>
		<% end %>


		<% # Si l'utilisateur est connecté on propose les liens "À voir" et "Vu" %>
		<% if user_signed_in? %>
			<!-- A voir -->
			<%= link_to "À voir", {:controller => "movies_users", :action => "add_watch",:user_id => current_user.id, :movie_id => movie['id'], :etat => 2 } %>

			<!-- Vu -->
			<%= link_to "Vu", {:controller => "movies_users", :action => "add_watch",:user_id => current_user.id, :movie_id => movie['id'], :etat => 1 } %>
		<% end %>
	<% end %>
<% end %>
